#container {
  flex-grow: 2;
  flex-shrink: 1;
  /* height: 75vh; */
  margin: 0;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  user-select: none;
}

#editor {
  width: 100vw;
}

.row {
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#config {
  padding: 0 10px;

  flex-shrink: 4;
  flex-grow: 1;
  /* height: 15vh;
  max-height: 25vh; */
  display: flex;
  justify-content: space-around;
  background-color: #ddd;
}

#config>div {
  width: 50vw;
  overflow-y: scroll;
}

#names {
  height: 73%;
  width: 95%;
}

h3 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.primary-btn {
  background-color: #333;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.small-btn {
  background-color: #333;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  float: right;
  margin-right: 15px;
}

.toolbar {
  position: absolute;
}

#tools {
  bottom: 0;
  left: 0;
}